/ グループ画面
.group-side
  .group-header
    .user-name
      = current_user.name
    %ul.header-lists
      %li.list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icons'
      %li.list
        = link_to new_group_path do
          = fa_icon 'edit', class: 'icons'
  / グループ一覧
  .group-side__list
    = render partial: "group"
  / チャット画面
.message-side
  .message-header
    .message-header__group-name
      グループ名
    .message-header__button
      edit
    .message-header__member
      MEMBER: メンバー名　メンバー名
  .message-list
    = render partial: "message"
  / 送信
  .message-footer
    .footer-body
      %input{class: "footer-body__form", placeholder: "Type a message"}
      %i.fa.fa-image.footer-body__icons
      .footer-body__button
        Send
